<form action="/links/profile" class="btn-group dropup btn-float fs-2 m-2" style="left: 5px;">
  <button class="fa-solid fa-house fa-flip bg-transparent" style="border: none;color: rgb(231, 14, 14);" ></button>
</form>


<h1>Reportes de Grupos Biblicos</h1>
<div class="container p-4">
  <div class="row">
    {{#each planilla}}
<div class="card bg-body-secondary d-flex justify-content-center m-4 p-2 " style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
        <div class="d-flex justify-content-center m-2">
        <img src="/img/logo.png" alt="logo" class="logo-form" />
      </div>
      <h2 class="d-flex justify-content-center m-2">REPORTES DE GRUPOS BIBLICOS</h2>
      <div class="card-body" style="background-color: rgb(0, 109, 98);">
        <form class="row g-3">
          <div class="form-group col-2">
            <label class="form-label "><h6 class="text-white">Felipes Lider:</h6>{{FELIPE_LIDER}}</label>
          </div>
          <div class="form-group col-2">
            <label class="form-label "><h6 class="text-white">Felipes:</h6>{{Felipes}}</label>
          </div>
          <div class="form-group col-2">
            <label class="form-label "><h6 class="text-white">Etiopes:</h6>{{Etiopes}}</label>
          </div>
           <div class="form-group col-2">
            <label "Participacion_Discipulado_1" class="form-label "><h6 class="text-white">Participacion Discipulado 1/2:</h6>{{Participacion_Discipulado_1}}</label>
          </div>
          <div class="form-group col-2">
            <label "Asistencia_de_Amigos" class="form-label "><h6 class="text-white">Asistencia de hermanos en la Iglesia:</h6>{{asistencia_hermanos}}</label>
          </div>
          <div class="form-group col-2">
            <label class="form-label "><h6 class="text-white">Asistencia vea:</h6>{{Asistencia_vea}}</label>
          </div>
          <div class="form-group col-2">
            <label class="form-label "><h6 class="text-white">Asistentes Grupo Biblico:</h6>{{asistentes}}</label>
          </div>
          <div class="form-group col-2">
            <label "Ninos" class="form-label "><h6 class="text-white">Asistencia de Niños en la iglesia:</h6>{{Ninos}}</label>
          </div>
          <div class="form-group col-2">
            <label "Ausentes" class="form-label"><h6 class="text-white">Ausentes:</h6>{{Ausentes}}</label>.
          </div>
          <div class="form-group col-2">
            <label "Asistencia_de_Amigos" class="form-label "><h6 class="text-white">Asistencia de Amigos en la Iglesia:</h6>{{Asistencia_de_Amigos}}</label>
          </div>
          <div class="form-group col-2">
            <label "Asistencia_a_la_Escuela_de_Liderazgo" class="form-label "><h6 class="text-white">Asistencia a la Escuela de Liderazgo:</h6>{{Asistencia_a_la_Escuela_de_Liderazgo}}</label>
          </div>
          <div class="form-group col-2">
            <label "Convertidos_adultos" class="form-label"><h6 class="text-white">Convertidos adultos:</h6>{{Convertidos_adultos}}</label>
          </div>
          <div class="form-group col-2">
            <label "Convertidos_ninos" class="form-label "><h6 class="text-white">Convertidos niños:</h6>{{Convertidos_ninos}}</label>
          </div>
          <div class="form-group col-2">
            <label "Reconciliados" class="form-label "><h6 class="text-white">Reconciliados:</h6>{{Reconciliados}}</label>
          </div>
          <div class="form-group col-2">
            <label "Participacion_Mision_Amigo" class="form-label "><h6 class="text-white">Participacion Mision Amigo:</h6>{{Participacion_Mision_Amigo}}</label>
          </div>
          <div class="form-group col-2">
            <label "Participacion_Consolidacion" class="form-label "><h6 class="text-white">Participacion Consolidacion:</h6>{{Participacion_Consolidacion}}</label>
          </div>
          <div class="form-group col-2">
            <label  class="list-group-item"><h6 class="text-white">fecha:</h6>{{created_at}}</label>
          </div>
          <div class="form-group col-12">
            <div class="form-check">
              
            </div>
          </div>
            <li class="btn btn-success ">
                <a
                  href="/links/delete/{{id}}"
                  class="text-light text-decoration-none"
                >Eliminar</a></li>
              
        </form>
      </div>
    </div>
    {{else}}
      <div class="col-md-4 mx-auto" style="padding: 160px;">
        <div class="card car-body text-center">
          <p>Sin Reportes</p>
        </div>

      </div>
    {{/each}}
  </div>
</div>

<form action="/links/profile" class="inicio">
  <button class="fa-solid fa-arrow-left etc"></button>
</form>



<h1>Bautizos</h1>

<div class="container">
  <div class="row">
    {{#each bautizos}}
      <div class="card bg-body-secondary col-md-3 d-flex justify-content-center m-4 p-2 " style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
        <div class="d-flex justify-content-center m-2">
          <img src="/img/logo.png" alt="logo" class="logo-form" />
        </div>
        <h2 class="d-flex justify-content-center m-2">REPORTES DE PERSONAS A BAUTIZAR</h2>
        <div class="card-body" style="background-color: rgb(0, 109, 98);">
          <form class="row g-3">
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h6 class="text-white">Nombre del lider:</h6>{{nombrelider}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h6 class="text-white">Grupo Biblico al que asiste:</h6>{{nombregrupo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label h3">
                <h6 class="text-white">Nombre de la persona a Bauitizar:</h6>{{nombres}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h6 class="text-white">Apellidos de la persona a Bautizar:</h6>{{apellidos}}
              </label>
            </div>
            <div class="form-group col-md-12">
              <label class="form-label h3">
                <h6 class="text-white">Direccion donde vive:</h6>{{direccion}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h6 class="text-white">Edad:</h6>{{edad}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h6 class="text-white">Numero de telefono:</h6>{{telefono}}
              </label>
            </div>
            <div >
            <label  class="list-group-item">{{created_at}}</label>
          </div>
            <li class="btn btn-success m-2">
              <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
            </li>
            <li class="btn btn-danger m-2">
              <a href="/links/editbautizos/{{id}}" class="text-light text-decoration-none">Editar</a>
            </li>
            
          </form>
        </div>
      </div>
    {{else}}
    <div class="col-md-4 mx-auto" style="padding: 160px;">
      <div class="card car-body text-center">
        <p>Sin Reportes</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>





{{!-- nuevos --}}

<h1>Reportes de Nuevos Amigos</h1>

<div class="container">
  <div class="row" >
    {{#each nuevos}}
      <div class="card bg-body-secondary col-md-3 d-flex justify-content-center m-4 p-2 " style="box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
        <div class="d-flex justify-content-center m-2">
          <img src="/img/logo.png" alt="logo" class="logo-form" />
        </div>
        <h2 class="d-flex justify-content-center m-2">REPORTES DE AMIGOS</h2>
        <div class="card-body " style="background-color: rgb(0, 109, 98);">
          <form class="row g-3">
            <div class="form-group col-md-6">
              <label class="form-label ">
                <h6 class="text-white">Nombre del lider:</h6>{{nombrelidernuevo}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label ">
                <h6 class="text-white">Grupo Biblico al que asiste:</h6>{{nombregruponuevo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label ">
                <h6 class="text-white">Nombre del amigo:</h6>{{nombresnuevo}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label ">
                <h6 class="text-white">Apellidos del amigo:</h6>{{apellidosnuevo}}
              </label>
            </div>
            <div class="form-group col-md-12">
              <label class="form-label ">
                <h6 class="text-white">Direccion donde vive:</h6>{{direccionnuevo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label ">
                <h6 class="text-white">Edad:</h6>{{edadnuevo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label ">
                <h6 class="text-white">Numero de telefono:</h6>{{telefononuevo}}
              </label>
            </div>
            <div class="form-group col-md-6">
            <label  class="list-group-item"><h6 class="text-white">fecha:</h6>{{created_at}}</label>
          </div>
            
            <li class="btn btn-success m-2">
              <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
            </li>
            <li class="btn btn-danger m-2">
              <a href="/links/editnuevos/{{id}}" class="text-light text-decoration-none">Editar</a>
            </li>
          </form>
        </div>
      </div>
    {{else}}
    <div class="col-md-4 mx-auto" style="padding: 160px;">
      <div class="card car-body text-center">
        <p>Sin Reportes</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>


{{!-- Eventos --}}

<h1>Novedades</h1>

<div class="container p-4">
    <div class="row d-flex flex-column-reverse">
        {{!-- Aquí estamos iterando sobre cada evento en la variable "eventos" --}}
        {{#each eventos}}
            <div class="card border-success m-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">{{Dia}}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">{{descripcion}}</h5>
                    <p class="card-text">{{fecha}}</p>
                </div>
                <div class="card-footer bg-transparent border-success">{{Fecha}},{{Hora}}</div>
                <li class="btn btn-success m-2">
                    <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
                </li>
            </div>
        {{!-- Si no hay eventos, se muestra este mensaje --}}
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card car-body text-center">
                    <p>Sin Eventos Creados</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>


