  <a href="https://web.whatsapp.com/" class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp"></i>
</a>  
</form>



<h1>Reportes de Grupos Biblicos</h1>
<div class="container p-4">
  <div class="row">
    {{#each planilla}}
      



  <div class="container d-flex justify-content-center mt-3 mb-3">
    <div
      class="card bg-body-secondary"
      style="width: 70rem; box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
      <div class="d-flex justify-content-center m-2">
        <img src="/img/logo.png" alt="logo" class="logo-form" />
      </div>
      <h2 class="d-flex justify-content-center m-2">REPORTES DE GRUPOS BIBLICOS</h2>
      <div class="card-body" style="background-color: rgb(0, 109, 98);">
        <form class="row g-3">
          <div class="form-group col-md-6">
            <label class="form-label h3"><h4 class="text-white">Pastor Supervisor:</h4>{{PASTOR_SUPERVISOR}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label h3"><h4 class="text-white">Coordinador Dpto:</h4>{{COORDINADOR_DPTO}}</label>
          </div>
          <div class="form-group col-6">
            <label class="form-label h3"><h4 class="text-white">SUPERVISOR DE RED:</h4>{{SUPERVISOR_DE_RED}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label h3"><h4 class="text-white">FELIPE DE RED:</h4>{{FELIPE_DE_RED}}</label>
          </div>

          <div class="form-group col-md-12">
            <label class="form-label h3"><h4 class="text-white">FELIPE LIDER:</h4>{{FELIPE_LIDER}}</label>
          </div>
          <div class="form-group col-3">
            <label class="form-label h3"><h4 class="text-white">Asistencia vea:</h4>{{Asistencia_vea}}</label>
          </div>
          <div class="form-group col-3">
            <label class="form-label h3"><h4 class="text-white">Asistentes:</h4>{{asistentes}}</label>
          </div>
          <div class="form-group col-3">
            <label class="form-label h3"><h4 class="text-white">Felipes:</h4>{{Felipes}}</label>
          </div>
          <div class="form-group col-3">
            <label class="form-label h3"><h4 class="text-white">Etiopes:</h4>{{Etiopes}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Novedades:</h4>{{novedades}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Amigos:</h4>{{Amigos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Niños:</h4>{{Ninos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Ausentes:</h4>{{Ausentes}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Convertidos adultos:</h4>{{Convertidos_adultos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Convertidos niños_</h4>{{Convertidos_ninos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Reconciliados:</h4>{{Reconciliados}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Diezmos:</h4>{{Diezmos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Ofrendas:</h4>{{Ofrendas}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Total financiero:</h4>{{Total_financiero}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Participacion Mision Amigo:</h4>{{Participacion_Mision_Amigo}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Participacion Consolidacion:</h4>{{Participacion_Consolidacion}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Participacion Discipulado 1:</h4>{{Participacion_Discipulado_1}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Asistencia a la Escuela de Liderazgo:</h4>{{Asistencia_a_la_Escuela_de_Liderazgo}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Asistencia de Amigos:</h4>{{Asistencia_de_Amigos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity" class="form-label h3"><h4 class="text-white">Asistencia de Niños:</h4>{{Ninos}}</label>
          </div>
          <div class="form-group col-md-6">
            <label  class="list-group-item">{{timeago created_at}}</label>
          </div>
          

          <div class="form-group col-12">
            <div class="form-check">
              
            </div>
          </div>
            <li class="btn btn-success m-2">
                <a
                  href="/links/delete/{{id}}"
                  class="text-light text-decoration-none"
                >Eliminar</a></li>
              <li class="btn btn-danger m-2">
                <a
                  href="/links/editplanilla/{{id}}"
                  class="text-light text-decoration-none"
                >Editar</a></li>
        </form>
      </div>
    </div>
  </div>
    {{else}}
      <div class="col-md-4 mx-auto" style="padding: 160px;">
        <div class="card car-body text-center">
          <p>No Han cargado los reportes aún</p>
        </div>

      </div>
    {{/each}}
  </div>
</div>

<form action="/links/profile" class="inicio">
  <button class="fa-solid fa-arrow-left etc"></button>
</form>



<h1>Bautizos</h1>

<div class="container p-4">
  <div class="row">
    {{#each bautizos}}
    <div class="container d-flex justify-content-center mt-3 mb-3">
      <div class="card bg-body-secondary" style="width: 70rem; box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
        <div class="d-flex justify-content-center m-2">
          <img src="/img/logo.png" alt="logo" class="logo-form" />
        </div>
        <h2 class="d-flex justify-content-center m-2">REPORTES DE PERSONAS A BAUTIZAR</h2>
        <div class="card-body" style="background-color: rgb(0, 109, 98);">
          <form class="row g-3">
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Nombre del lider:</h4>{{nombrelider}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Grupo Biblico al que asiste:</h4>{{nombregrupo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label h3">
                <h4 class="text-white">Nombre de la persona a Bauitizar:</h4>{{nombres}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Apellidos de la persona a Bautizar:</h4>{{apellidos}}
              </label>
            </div>
            <div class="form-group col-md-12">
              <label class="form-label h3">
                <h4 class="text-white">Direccion donde vive:</h4>{{direccion}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h4 class="text-white">Edad:</h4>{{edad}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h4 class="text-white">Numero de telefono:</h4>{{telefono}}
              </label>
            </div>
            <div >
            <label  class="list-group-item">{{timeago created_at}}</label>
          </div>
            <li class="btn btn-success m-2">
              <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
            </li>
            <li class="btn btn-danger m-2">
              <a href="/links/editbautizos/{{id}}" class="text-light text-decoration-none">Editar</a>
            </li>
            
          </form>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto" style="padding: 160px;">
      <div class="card car-body text-center">
        <p>No se han cargado reportes de bautizados</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>





{{!-- nuevos --}}

<h1>Reportes de Nuevos Amigos</h1>

<div class="container p-4">
  <div class="row">
    {{#each nuevos}}
    <div class="container d-flex justify-content-center mt-3 mb-3">
      <div class="card bg-body-secondary" style="width: 70rem; box-shadow: 10px 10px 5px 0px rgba(54,130,123,0.75);">
        <div class="d-flex justify-content-center m-2">
          <img src="/img/logo.png" alt="logo" class="logo-form" />
        </div>
        <h2 class="d-flex justify-content-center m-2">REPORTES DE AMIGOS</h2>
        <div class="card-body" style="background-color: rgb(0, 109, 98);">
          <form class="row g-3">
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Nombre del lider:</h4>{{nombrelidernuevo}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Grupo Biblico al que asiste:</h4>{{nombregruponuevo}}
              </label>
            </div>
            <div class="form-group col-6">
              <label class="form-label h3">
                <h4 class="text-white">Nombre del amigo:</h4>{{nombresnuevo}}
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label h3">
                <h4 class="text-white">Apellidos del amigo:</h4>{{apellidosnuevo}}
              </label>
            </div>
            <div class="form-group col-md-12">
              <label class="form-label h3">
                <h4 class="text-white">Direccion donde vive:</h4>{{direccionnuevo}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h4 class="text-white">Edad:</h4>{{edadnuevo}}
              </label>
            </div>
            <div class="form-group col-3">
              <label class="form-label h3">
                <h4 class="text-white">Numero de telefono:</h4>{{telefononuevo}}
              </label>
            </div>
            <div>
            <label  class="list-group-item">{{timeago created_at}}</label>
          </div>
            
            <li class="btn btn-success m-2">
              <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
            </li>
            <li class="btn btn-danger m-2">
              <a href="/links/editnuevos/{{id}}" class="text-light text-decoration-none">Editar</a>
            </li>
          </form>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto" style="padding: 160px;">
      <div class="card car-body text-center">
        <p>No se han cargado reportes de nuevos amigos</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>


{{!-- Eventos --}}

<h1>Novedades</h1>

<div class="container p-4">
    <div class="row">
        {{!-- Aquí estamos iterando sobre cada evento en la variable "eventos" --}}
        {{#each eventos}}
            <div class="card border-success m-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">{{Dia}}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">{{descripcion}}</h5>
                    <p class="card-text">{{fecha}}</p>
                </div>
                <div class="card-footer bg-transparent border-success">{{Fecha}},{{Hora}}</div>
                <li class="btn btn-success m-2">
                    <a href="/links/delete/{{id}}" class="text-light text-decoration-none">Eliminar</a>
                </li>
            </div>
        {{!-- Si no hay eventos, se muestra este mensaje --}}
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card car-body text-center">
                    <p>No Tienes Eventos Creados</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>


